<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card m-5 p-3">
                <h1 class="display-5 text-center">Enable Notifications</h1>
                <p class="card-text">Notifications could be disabled by the browser if you are in incognito mode</p>
                <p class="card-text text-center"><strong>(OR)</strong></p>
                <p class="card-text">You may have disabled the Notifications</p>
                <hr>
                <p class="card-text"><strong>Try following steps to re-enable notificaions (In Chrome)</strong></p>
                <ul>
                    <li>go to <a
                            href="chrome://settings/content/notifications">chrome://settings/content/notifications</a>
                    </li>
                    <li>scroll down the Block list, containing all the websites that are blocked from emitting push
                        notifications</li>
                    <li>delete localhost from the Block list</li>
                    <li>Reload the applcation and try again.</li>
                </ul>
                <hr>
                <button class="btn btn-primary" routerLink="">Go Home!</button>
            </div>
        </div>
    </div>
</div>